<footer class="footer">
  <div class="container footer-container">
    <img class="footer-logo" src="/img/footer/logo.png" alt="Design Liha">
    <div class="footer-wrapper">
      <div class="support-container">
      <p class="footer-support">Support:</p>
    <div class="support-emeil-container">
      <img class="footer-img" src="/img/contact/one.png" alt="Email" loading="lazy">
      <p class="emeil-text">Email: 
        <a class="support-link" href="mailto:info@designliha.space"> info@designliha.space</a>
      </p>
    </div>
    </div>
      <ul class="footer-navigation">
        <li class="footer-link">
          <a class="footer-underline" href="./privacy.html">Privacy Policy</a>
        </li>
        <li class="footer-link">
          <a class="footer-underline" href="./terms.html">Terms of Use</a>
        </li>
        <li class="footer-link">
          <a class="footer-underline" href="./cookies.html">Cookies Policy</a>
        </li>
      </ul>
     
    </div>
     <p class="footer-text">All rights reserved © 2025 designliha.space</p>
  </div>
</footer>