<!-- Hero -->
<article class="home-section">
    <div class="container">
        <h1 class="home-title">Fold. Flip. Solve.</h1>
      <p class="home-text-one">DesignLiha is a visual puzzle platform where players interact with space, pattern, and logic through folding-inspired
    mechanics.</p>
    <p class="home-text-two">Our games are rooted in origami, geometry, and touch-based exploration—inviting users to solve challenges not through
    speed, but through structure and subtle interaction.</p>
    <p class="home-text-three">Designed to calm, focus, and engage, our puzzles reward perception over reaction, and clarity over chaos.</p>
    </div>
</article>
<!-- About the Concept -->
<section class="about-section">
    <div class="container about-container">
        <h2 class="about-title">About the Concept</h2>
        <div class="about-wrapper">
            <p class="about-text-one">“Liha”</p>
            <p class="about-text-two">stands for <span class="about-span">Light + Hands</span> —a philosophy that blends visual clarity with tactile movement.</p>
        </div>
        <picture>
            <source srcset="
            /img/about/desk.png 1x,
            /img/about/desk@2x.png 2x
                   " media="(min-width: 1439px)" />
            <source srcset="
            /img/about/mob.png 1x,
            /img/about/mob@2x.png 2x
                    " media="(max-width: 1438px)" />
            <img class="about-ong" src="/img/about/mob.png" alt="About the Concept" loading="lazy" />
        </picture>
        <p class="about-text-three">Inspired by the quiet art of origami and the structure of mathematical forms, DesignLiha transforms traditional puzzle
        gaming into a meditative, motion-based experience.</p>
        <p class="about-text-four">Whether you’re folding a digital surface to reveal symmetry, aligning paper planes through mirrored moves, or building
        solutions one crease at a time, every gesture is part of a creative and cognitive journey.</p>
    </div>
</section>
<!-- What We Make -->
<section class="what-section">
    <div class="container">
        <h2 class="what-title">What We Make</h2>
        <p class="what-text-one">DesignLiha develops mobile and tablet-based puzzle games that simulate folding, unfolding, mirroring, slicing, and
        realignment.</p>
        <p class="what-text-two">Our games are:</p>
        <img class="what-img" src="/img/what/mob@2x.png" alt="What We Make" loading="lazy">
        <p class="what-text-three">Each puzzle is not just something to win, but something to understand.</p>
    </div>
</section>
<!-- Core Games on the Platform -->
<section class="core-section">
    <div class="container">
        <h2 class="core-title">Core Games on the Platform</h2>
        <ul class="core-list">
            <li class="core-item">
                <picture>
                    <source srcset="
                    /img/core/one-desk.png 1x,
                    /img/core/one-desk@2x.png 2x
                 " media="(min-width: 1439px)" />
                    <source srcset="
                    /img/core/one-mob.png 1x,
                    /img/core/one-mob@2x.png 2x
                    " media="(max-width: 1438px)" />
                    <img class="core-img" src="/img/core/one-mob.png" alt="Core Games" loading="lazy" />
                    </picture>  
                <h3 class="core-item-title">Origina</h3>  
                <p class="core-item-text">Fold sheets to match silhouettes and shadows in the fewest moves.</p>
            </li>
            <li class="core-item">
                <picture>
                    <source srcset="
                                /img/core/two-desk.png 1x,
                                /img/core/two-desk@2x.png 2x
                             " media="(min-width: 1439px)" />
                    <source srcset="
                                /img/core/two-mob.png 1x,
                                /img/core/two-mob@2x.png 2x
                                " media="(max-width: 1438px)" />
                    <img class="core-img" src="/img/core/two-mob.png" alt="Core Games" loading="lazy" />
                </picture>
                <h3 class="core-item-title">Mirrorline</h3>
                <p class="core-item-text">Symmetry-based shape alignment game using reflective motion.</p>
            </li>
            <li class="core-item">
                <picture>
                    <source srcset="
                                /img/core/three-desk.png 1x,
                                /img/core/three-desk@2x.png 2x
                             " media="(min-width: 1439px)" />
                    <source srcset="
                                /img/core/three-mob.png 1x,
                                /img/core/three-mob@2x.png 2x
                                " media="(max-width: 1438px)" />
                    <img class="core-img" src="/img/core/three-mob.png" alt="Core Games" loading="lazy" />
                </picture>
                <h3 class="core-item-title">Tangliha</h3>
                <p class="core-item-text">Geometry-based folding with layering and transparency mechanics.</p>
            </li>
            <li class="core-item core-item-four">
                <picture>
                    <source srcset="
                                /img/core/five-desk.png 1x,
                                /img/core/five-desk@2x.png 2x
                             " media="(min-width: 1439px)" />
                    <source srcset="
                                /img/core/four-mob.png 1x,
                                /img/core/four-mob@2x.png 2x
                                " media="(max-width: 1438px)" />
                    <img class="core-img" src="/img/core/four-mob.png" alt="Core Games" loading="lazy" />
                </picture>
                <h3 class="core-item-title core-item-title-last">Foldway</h3>
                <p class="core-item-text">A spatial reasoning game where players collapse space to form new pathways.</p>
            </li>
            <li class="core-item core-item-last">
                <picture>
                    <source srcset="
                                /img/core/four-desk.png 1x,
                                /img/core/four-desk@2x.png 2x
                             " media="(min-width: 1439px)" />
                    <source srcset="
                                /img/core/five-mob.png 1x,
                                /img/core/five-mob@2x.png 2x
                                " media="(max-width: 1438px)" />
                    <img class="core-img" src="/img/core/five-mob.png" alt="Core Games" loading="lazy" />
                </picture>
                <h3 class="core-item-title core-item-title-last-item">Pattern Theory (Coming soon)</h3>
                <p class="core-item-text">Visual sequencing challenges inspired by Islamic tiling and origami tessellations.</p>
            </li>
        </ul>
        <p class="core-text">Our games emphasize elegant difficulty, never rushing the player—each one is an invitation to think through touch.</p>
    </div>
</section>
<!-- How It Works – Mechanics in Motion -->
<sectiob class="how-section">
    <div class="container">
        <h2 class="how-title">How It Works – Mechanics in Motion</h2>
        <p class="how-text">All games in the DesignLiha ecosystem use intuitive, touch-based controls:</p>
        <ul class="how-list">
            <li class="how-item">
                <img class="how-img" src="/img/how/one.png" alt="tap">
                <h3 class="how-item-title">Tap and Drag</h3>
                <p class="how-item-text">Manipulate surfaces, lines, and creases</p>
            </li>
            <li class="how-item">
                <img class="how-img" src="/img/how/two.png" alt="tap">
                <h3 class="how-item-title">Fold and Unfold</h3>
                <p class="how-item-text">Collapse or reveal symmetrical spaces</p>
            </li>
            <li class="how-item">
                <img class="how-img" src="/img/how/three.png" alt="tap">
                <h3 class="how-item-title">Layering</h3>
                <p class="how-item-text">Stack pieces to create hidden geometry</p>
            </li>
            <li class="how-item">
                <img class="how-img" src="/img/how/four.png" alt="tap">
                <h3 class="how-item-title">Rotate and Reflect</h3>
                <p class="how-item-text">Use visual orientation to align patterns</p>
            </li>
            <li class="how-item">
                <img class="how-img" src="/img/how/five.png" alt="tap">
                <h3 class="how-item-title">Multi-step Challenges</h3>
                <p class="how-item-text">Combine several folds into one elegant solution</p>
            </li>
        </ul>
        <p class="how-text-two">The interface is minimalist, but the puzzles are layered and increasingly complex.</p>
    </div>
</sectiob>
<!-- Educational Applications -->
<section class="educational-section">
    <div class="container">
        <h2 class="educational-title">Educational Applications</h2>
        <picture>
            <source srcset="
            /img/educational/desk.png 1x,
            /img/educational/desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/educational/mob.png 1x,
            /img/educational/mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="educational-img" src="/img/educational/mob.png" alt="Educational Applications" loading="lazy" />
        </picture>
        <p class="educational-text">DesignLiha is used by educators to support:</p>
        <ul class="educational-list">
            <li class="educational-item">
                <p class="educational-number">1</p>
                <p class="educational-item-text">Spatial reasoning in geometry classrooms</p>
            </li>
            <li class="educational-item">
                <p class="educational-number">2</p>
                <p class="educational-item-text">Pattern recognition and abstract thinking</p>
            </li>
            <li class="educational-item">
                <p class="educational-number">3</p>
                <p class="educational-item-text">Art-integrated STEM learning</p>
            </li>
            <li class="educational-item">
                <p class="educational-number">4</p>
                <p class="educational-item-text">Focus-based exercises for neurodiverse learners</p>
            </li>
            <li class="educational-item">
                <p class="educational-number">5</p>
                <p class="educational-item-text">Visual logic development in students ages 10 and up</p>
            </li>           
        </ul>
         <p class="educational-text-two">Printable puzzle companion sheets are available for schools using our platform. We also provide lesson integration kits
            on request.</p>
    </div>
</section>
<!-- Therapeutic Use and Mindful Play -->
<section class="use-section">
    <div class="container">
        <h2 class="use-title">Therapeutic Use and Mindful Play</h2>
        <p class="use-text">Our games are also used in occupational <span class="use-span">therapy</span> , <span class="use-span">cognitive recovery</span>, and <span class="use-span">mindfulness training</span> .</p>
        <p class="use-text-two">Therapists and practitioners report:</p>
        <ul class="use-list">
            <li class="use-item">
                <p class="use-item-text">Reduced anxiety through focus-based interaction</p>
            </li>
            <li class="use-item">
                <p class="use-item-text">Improved hand-eye coordination and planning</p>
            </li>
            <li class="use-item">
                <p class="use-item-text">Engagement for clients with sensory sensitivity</p>
            </li>
            <li class="use-item">
                <p class="use-item-text">Non-verbal problem-solving tools in group settings</p>
            </li>
            <li class="use-item">
                <p class="use-item-text">Gentle pacing for stroke rehabilitation programs</p>
            </li>
        </ul>
        <p class="use-text-three">Games like <span class="use-text-span">Origina</span>  and <span class="use-text-span">Mirrorline </span> have shown particular value in therapeutic settings for adults and adolescents alike.</p>
    </div>
</section>
<!-- Visual Gallery -->
<section class="gallery-section">
    <div class="container gallery-container">
        <h2 class="gallery-title">Visual Gallery</h2>
        <p class="gallery-text">Explore how form becomes function.</p>
        <p class="gallery-text-two">All visuals reflect our principle: every visual should be part of the puzzle.</p>

        <div class="swiper gallery-swiper">
            <div class="swiper-wrapper gallery-swiper-wrapper">
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                        /img/gallery/one-desk.png 1x,
                        /img/gallery/one-desk@2x.png 2x
                        " media="(min-width: 1439px)" />
                        <source srcset="
                        /img/gallery/one-mob.png 1x,
                        /img/gallery/one-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/one-mob.png" alt="Visual Gallery" loading="lazy" />
                      </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/two-desk.png 1x,
                                        /img/gallery/two-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/two-mob.png 1x,
                                        /img/gallery/two-mob@2x.png 2x
                                         " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/two-mob.png" alt="Visual Gallery" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/three-desk.png 1x,
                                        /img/gallery/three-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/three-mob.png 1x,
                                        /img/gallery/three-mob@2x.png 2x
                                         " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/three-mob.png" alt="Visual Gallery" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/four-desk.png 1x,
                                        /img/gallery/four-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/four-mob.png 1x,
                                        /img/gallery/four-mob@2x.png 2x
                                         " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/four-mob.png" alt="Visual Gallery" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/five-desk.png 1x,
                                        /img/gallery/five-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/five-mob.png 1x,
                                        /img/gallery/five-mob@2x.png 2x
                                         " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/five-mob.png" alt="Visual Gallery" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/six-desk.png 1x,
                                        /img/gallery/six-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/six-mob.png 1x,
                                        /img/gallery/six-mob@2x.png 2x
                                         " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/six-mob.png" alt="Visual Gallery" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/seven-desk.png 1x,
                                        /img/gallery/seven-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/seven-mob.png 1x,
                                        /img/gallery/seven-mob@2x.png 2x
                                         " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/seven-mob.png" alt="Visual Gallery" loading="lazy" />
                    </picture>
                </div>
            </div>
        </div>
        <div class="custom-navigation">
            <button class="custom-arrow custom-prev" aria-label="Previous slide">
                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.6838 17.9242H31.8668V21.0762H12.6838L21.1374 29.5298L18.909 31.7583L6.65088 19.5002L18.909 7.24215L21.1374 9.4706L12.6838 17.9242Z"
                        fill="white" />
               </svg>
            </button>
        
            <button class="custom-arrow custom-next" aria-label="Next slide">
                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.6838 17.9242H31.8668V21.0762H12.6838L21.1374 29.5298L18.909 31.7583L6.65088 19.5002L18.909 7.24215L21.1374 9.4706L12.6838 17.9242Z"
                        fill="white" />
                </svg>
            </button>
        </div>
    </div>
</section>
<!-- Design Philosophy -->
<section class="design-section">
    <div class="container">
        <h2 class="design-title">Design Philosophy</h2>
        <picture>
            <source srcset="
            /img/design/one-desk.png 1x,
            /img/design/one-desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/design/one-mob.png 1x,
            /img/design/one-mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="design-img" src="/img/design/one-mob.png" alt="Design" loading="lazy" />
        </picture>
        <p class="design-text">We believe that puzzles should:</p>
        <ul class="design-list">
            <li class="design-item">
                <p class="design-number">1</p>
                <p class="design-text-item">Be tactile, not transactional</p>
            </li>
            <li class="design-item">
                <p class="design-number">2</p>
                <p class="design-text-item">Prioritize understanding, not stress</p>
            </li>
            <li class="design-item">
                <p class="design-number">3</p>
                <p class="design-text-item">Use movement as metaphor</p>
            </li>
            <li class="design-item">
                <p class="design-number">4</p>
                <p class="design-text-item">Offer stillness through challenge</p>
            </li>
            <li class="design-item">
                <p class="design-number">5</p>
                <p class="design-text-item">Respect the user’s pace and ability</p>
            </li>
        </ul>
        <p class="design-text-two">DesignLiha is an alternative to hyper-stimulated play—a space to breathe, learn, and think.</p>
    </div>
</section>
<!-- For Collaborators -->
<section class="collaborators-section">
    <div class="container">
        <h2 class="collaborators-title">For Collaborators</h2>
        <p class="collaborators-text">We work with:</p>
        <ul class="collaborators-list">
            <li class="collaborators-item">
                <img class="collaborators-img" src="/img/collaborators/one.png" alt="Educators" loading="lazy">
                <p class="collaborators-text-item">Educators building design-led curricula</p>
            </li>
            <li class="collaborators-item">
                <img class="collaborators-img" src="/img/collaborators/two.png" alt="Game therapists" loading="lazy">
                <p class="collaborators-text-item">Game therapists looking for non-linear tools</p>
            </li>
            <li class="collaborators-item">
                <img class="collaborators-img" src="/img/collaborators/three.png" alt="Exhibition designers" loading="lazy">
                <p class="collaborators-text-item">Exhibition designers creating interactive spaces</p>
            </li>
            <li class="collaborators-item">
                <img class="collaborators-img" src="/img/collaborators/four.png" alt="Museums and art-tech institutions" loading="lazy">
                <p class="collaborators-text-item">Museums and art-tech institutions exploring geometry and motion</p>
            </li>
            <li class="collaborators-item">
                <img class="collaborators-img" src="/img/collaborators/five.png" alt="Developers of visual accessibility tools" loading="lazy">
                <p class="collaborators-text-item">Developers of visual accessibility tools</p>
            </li>
        </ul>
        <p class="collaborators-text-two">Interested in integrating our games into your context? Contact us to propose a pilot project.</p>
    </div>
</section>
<!-- FAQ -->
<section class="faq-section">
    <div class="container">
        <h2 class="faq-title">FAQ</h2>
        <ul class="faq-acc">
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Are your games free to play?
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Some of our smaller experiences are free to access, while our full-featured games are available as affordable premium
                downloads. We avoid ads and in-app pressure.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Do your games work offline?
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Yes. Once installed, all mobile titles can be played offline without internet.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Are your games suitable for children?
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Yes. Games are family-friendly, non-violent, and educational. Some puzzles may be challenging, but never inappropriate.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Can educators use your games in class?
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Absolutely. We offer companion materials for classroom use and volume licenses for institutions.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Are accessibility features available?
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Yes. All games support colorblind modes, slow-play toggles, and reduced-motion options.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Do your games collect personal data?
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">No. We respect privacy and do not track, sell, or share user data.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Can I propose a puzzle mechanic or design concept?
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Yes. We welcome thoughtful proposals and are always interested in new tactile ideas.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Which platforms do you support?
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Primarily Android and iOS. Web-based versions of smaller titles are under development.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Can I become a beta tester?
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Yes. Join our test program by emailing us your device type and game interests.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Do you support stylus-based gameplay?
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Yes. Our puzzle interactions are stylus-friendly and optimized for tablets.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        How do I report a bug or contact support?
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Email info@designliha.space with a description of the issue and device details.</p>
            </li>
        </ul>
    </div>
</section>